body {
  color: white;
  background-color: grey;
  box-sizing: border-box;
}

h1 {
  font-family: fantasy;
  font-size: 45px;
  height: 44px;
  border-bottom-style: solid black;
  margin: 20px ;
  text-align: center;
  width: 750px;
}

h2 {
  font-size: 1.5em;
  border-color: grey;
}

nav *{
  display: inline;
  font-family: fantasy;
  list-style-type: none;
  margin: 40px;
  padding: 20px;  
}

h3 {
  font-size: 1.25em;
  font-family: fantasy;
}

header {
  position: sticky;
  margin:;
  height:;
  weight:;
}

section {
  border: 5px solid black;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
}

article img {
  width:100%;
}

article {
  float: left;
  width: 30%
}


ol {
  list-style: decimal;
  list-style-position: inside;
}

footer {
  margin-top: 20px;
  margin-left: 5px;
}
#herding {

}

